/* styles.css */
Screen {
    align: center middle;
}

#main-container {
    width: auto;
    height: auto;
    max-width: 80;
    max-height: 28;
    background: $panel;
    padding: 1;
    border: thick $primary;
}

.title {
    content-align: center middle;
    width: 100%;
    text-style: bold;
    margin-bottom: 1;
}

.subtitle {
    text-style: bold;
    margin-top: 1;
    text-decoration: underline;
}

Label {
    margin-top: 1;
}

Input {
    width: 100%;
}

RadioSet {
    margin-top: 1;
}

.buttons {
    align: center middle;
    margin-top: 2;
}

Button {
    margin: 0 1;
}
